// SWITCH
.switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__toggle {
        position: relative;
        width: 45px;
        height: 25px;
    }
    &__input {
        display: none;
        &:checked+.switch__slider {
            background-color: $c-sky;
            border: 1px solid $c-sky;
        }
        &:focus+.switch__slider {
            box-shadow: 0 0 1px $c-grey;
        }
        &:checked+.switch__slider:before {
            transform: translate(15px, -50%);
            background-color: $c-white;
        }
    }
    &__slider {
        position: absolute;
        inset: 0;
        background-color: $c-grey;
        border: 1px solid $c-grey;
        outline: none;
        transition: $transition;
        &:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 6px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $c-white;
            transition: $transition;
        }
        &._round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
    &__text {
        margin-left: 10px;
        font-size: calc(#{$fs} - 2px);
        line-height: calc(#{$fs} - 2px);
        letter-spacing: $letter-spacing;
        color: $c-basic;
    }
}
