<div class="users">
    <form (ngSubmit)="us.create(new_user); new_user={}" class="users-field">
        <label class="forms">
            <span class="forms__title">New User</span>
            <input class="forms__input" type="text" [(ngModel)]="new_user.email" name="new user" placeholder="Email">
        </label>
        <button class="btn _primary" type="submit" [disabled]="!ui.valid(new_user.email)">Create</button>
    </form>
    <div class="table-wrapp">
        <table class="table">
            <thead class="table-header">
                <tr class="table-header__tr">
                    <th class="table__th user">User</th>
                    <th class="table__th email">Email</th>
                    <th class="table__th role" *ngFor="let role of us.roles; let i = index;">{{role}}</th>
                    <th class="table__th actions">Actions</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-body__tr" *ngFor="let user of us.users|search:search:'name email'">
                    <td class="table__td user">
                        <div class="table-user">
                            <div class="table-user__img"><img [src]="user.avatarUrl" alt="" height="50" width="50"></div>
                            <div class="table-user__text">{{user.name}}</div>
                        </div>
                    </td>
                    <td class="table__td email">{{user.email}}</td>
                    <td class="table__td role" *ngFor="let role of us.roles; let i = index;">
                        <label class="checkbox">
                            <input class="checkbox__input" type="checkbox" [(ngModel)]="user.is[role]" (ngModelChange)="us.save(user);" name="role name">
                            <div class="checkbox__body">
                                <span class="checkbox__svg"><svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg></span>
                            </div>
                        </label>
                    </td>
                    <td class="table__td actions">
                        <i class="material-icons" (click)="us.delete(user);">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Checkbox SVG Sprites -->
<svg class="checkbox__svg-icon">
    <symbol id="check" viewbox="0 0 12 10">
        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </symbol>
</svg>
