// colors
:root {
	  // const
	  --c-white: #fff;
	  --c-black: #000;
	  --c-grey: #e7e7e7;
	  --c-grey-dark: #bfbfbf;

    // theme
    --c-basic: #3558ae;
    --c-primary: #256eff;
    --c-primary-hover: #0051f1;
    --c-secondary: red;
    --c-bg-primary: #f3f4f7;
    --c-bg-secondary: #ffffff;
    --c-bg-tertiary: #fcfdfe;
    --c-border: #f0f1f7;
    --c-shadow: #f3f3f3;
    --c-text-primary: #666666;
    --c-text-secondary: #19235c;
    --c-placeholder: #adb8c6;

    // classic
    --c-warn: #e67e22;
    --c-error: #e74c3c;
    --c-error-hover: #d62c1a;
    --c-success: #14c76e;
    --c-info: #17a2b8;
}

html.dark:root {
	--c-basic: #333;
	--c-bg-primary: #282828;
	--c-bg-secondary: #343434;
	--c-bg-tertiary: #404040;
	--c-border: #404040;
	--c-shadow: #444444;
	--c-text-primary: #ffffff;
	--c-text-secondary: #ffffff;
	--c-placeholder: #7a7a7a;
}

.wtable {
	background: var(--c-bg-secondary);
	box-shadow: var(--c-shadow);
	border-radius: 10px;
	padding: 20px;
	padding-bottom: 70px;
	max-width: 1210px;
	height: auto;
	margin: 0px auto;
	position: relative;
	@media screen and (max-width: 599px) {
		padding-bottom: 80px;
	}
	.table {
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
		&-flex {
			display: flex;
			&._jc-sb {
				justify-content: space-between;
			}
			&._ai-c {
				align-items: center;
			}
		}
		&-plus-btn {
			grid-column: 1;
			justify-self: start;
			cursor: pointer;
			font-size: 40px;
			border: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #53a1d6;
			color: var(--c-bg-secondary);
		}
		// search 
		&-search {
			position: relative;
			display: flex;
			padding: 10px 0;
			&--active {
				.table-search__input {
					max-width: 300px;
					transition: .5s all ease-in-out;
					opacity: 1;
				}
				.table-search__icon::before {
					background: #334d6e;
				}
				.table-search__icon::after {
					border-color: #334d6e;
				}
			}
			&__input {
				max-width: 0;
				transition: .5s all ease-in-out;
				border: 0;
				border-bottom: 1px solid #334d6e;
				opacity: 0;
			}
			&__icon {
				width: 40px;
				position: relative;
				height: 35px;
				transition: all 1s;
				z-index: 4;
				cursor: pointer;
				&::before {
					content: "";
					position: absolute;
					margin: auto;
					top: 12px;
					right: 0;
					bottom: 0;
					left: 15px;
					width: 8px;
					height: 2px;
					background: #9f9f9f;
					transform: rotate(45deg);
					transition: .5s;
				}
				&::after {
					content: "";
					position: absolute;
					margin: auto;
					top: -5px;
					right: 0;
					bottom: 0;
					left: -5px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					border: 2px solid #9f9f9f;
					transition: all .5s;
				}
			}
		}
		
		.table-header__sort {
			position: relative;
			cursor: pointer;
			.icon-arrow {
				transform: rotate(90deg);
				font-size: var(--fs);
				position: absolute;
				top: 3px;
				cursor: pointer;
			}
		}
		th {
			position: relative;
			padding: 10px;
			text-align: center;
			border-right: 2px solid var(--c-border);
			border-bottom: 0.5px solid var(--c-border);
			font-weight: 500;
			font-size: var(--fs); 
			line-height: calc(var(--fs) + 8px);
			letter-spacing: var(--letter-spacing);
			text-transform: capitalize;
			color: var(--c-text-primary);
			overflow: hidden;
			text-overflow: ellipsis;
			.icon-arrow {
				opacity: 0;
				transition: 0.3s all ease-in-out;
			}
			&:hover {
				.icon-arrow {
					opacity: 1;
					transition: 0.3s all ease-in-out;
				}
			}
			.table-header__sort._sortActiveDown {
				.icon-arrow {
					transform: rotate(-90deg);
					opacity: 1;
				}
			}
			.table-header__sort._sortActiveUp {
				.icon-arrow {
					opacity: 1;
				}
			}
			@media all and (max-width: 991px) {
				display: none;
				text-align: left;
			}
			&:last-child {
				width: 160px;
			}
		}
		td {
			cursor: pointer;
			padding: 10px;
			text-align: center;
			vertical-align: middle;
			border-right: 2px solid var(--c-border);
			border-bottom: 2px dashed var(--c-border);
			font-size: calc(var(--fs) - 2px);
			line-height: calc(var(--fs) + 8px);
			letter-spacing: var(--letter-spacing);
			color: var(--c-text-primary);
			word-break: break-word;
			display: table-cell;
			@media all and (max-width: 991px) {
				display: block;
				text-align: left;
				border: 2px solid var(--c-border);
			}
			&:before {
				content: attr(data-label);
				display: inline-block;
				font-weight: 500;
				font-size: var(--fs); 
				line-height: calc(var(--fs) + 8px);
				letter-spacing: var(--letter-spacing);
				text-transform: capitalize;
				color: var(--c-text-primary);
				text-overflow: ellipsis;
				@media (min-width: 992px) {
					display: none;
				}
			}
		}
		tr {
			&:last-child {
				td {
					border-bottom: none;
					@media (max-width: 992px) {
						border-bottom: 2px solid var(--c-border);
					}
				}
			}
			td {
				&:last-child {
					border-right: none;
					@media (max-width: 992px) {
						border-right: 2px solid var(--c-border);
					}
				}
				&:first-child {
					@media (max-width: 992px) {
						margin-top: 30px;
					}
				}
			}
			th {
				&:last-child {
					border-right: none;
				}
			}
		}

		.table-body {
			&__last-td {
				margin-bottom: 30px;
				& i + i {
					margin-left: 15px;
				}
			}
		}
		&-footer {
			height: 65px;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 10px;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 0 20px;
			align-items: center;
			@media screen and (max-width: 599px) {
				height: 80px;
				padding: 10px 20px;
				flex-direction: column;
			}
			&__pagination {
				grid-column: 12;
				justify-self: end;
				display: flex;
				align-items: center;
			}
			&__arrow {
				border: 0;
				background: none;
				width: 30px;
				height: 30px;
				margin-right: 10px;
				cursor: pointer;
				
				.chevron {
					box-sizing: border-box;
					position: relative;
					display: block;
					width: 22px;
					height: 22px;
					border: 2px solid transparent;
					border-radius: 100px;
					&::before {

						position: absolute;
						width: 2px;
						height: 90%;
						background-color: #334d6e;
						top: 8%;
					}
					&::after {
						content: "";
						display: block;
						box-sizing: border-box;
						position: absolute;
						width: 10px;
						height: 10px;
						border-bottom: 2px solid #334d6e;
						border-right: 2px solid #334d6e;
						transform: rotate(135deg);
						left: 2px;
						top: 2px
					}
				}
				&:disabled {
					i::after {
						border-color: #9f9f9f;
					}
					i::before {
						background: #9f9f9f;
					}
				}


				&._start {
					.chevron::after	{
						left: 8px;
						top: 4px;
					}
					.chevron::before {
						display: block;
						left: 2px;
						content: "";
					}
				}
				&._left {
					.chevron::after	{
						top: 4px;
					}

				}
				&._right {
					.chevron::after	{
						transform: rotate(315deg);
						top: 4px;
					}

				}
				&._end {
					.chevron::after	{
						left: -3px;
						top: 4px;
						transform: rotate(315deg);
					}
					.chevron::before {
						display: block;
						left: 11px;
						content: "";
					}
				}
			}

			.item-page {
				grid-column: 2 / span 10;
				justify-self: end;
				font-size: 12px;
				color: #9f9f9f;
				letter-spacing: 1px;
				display: flex;
				align-items: center;

				&__dropdown {
					position: relative;
					margin: 0 10px;
					color: #334d6e;
					font-weight: bold;
					.caption {
						background-color: #f2f2f2;
						padding: 11px 24px;
						border-radius: 3px;
						cursor: pointer;
						&:hover {
							background-color: rgb(83, 161, 214);
							color: var(--c-bg-secondary);
						}
					}
					.list {
						position: absolute;
						background-color: var(--c-bg-secondary);
						width: 100%;
						bottom: 100%;
						flex-direction: column;
						border-radius: 0 0 3px 3px;
						display: none;
						z-index: 999;
						.item {
							>div {
								padding: 11px 24px;
								cursor: pointer;
							}
							&:hover {
								background-color: rgb(83, 161, 214);
								color: var(--c-bg-secondary);
							}
						}
						.item.selected {
							font-weight: bold;
						}
					}
					&.open {
						.caption {
							border-radius: 0 0 3px 3px;
							border-top: solid 1px #9f9f9f;
						}
						.list {
							display: flex;
							flex-direction: column-reverse;
						}
					}
				}
				&__result {
					// margin-right: 20px;
				}
			}
		}
	}
	.field-form {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: var(--c-bg-secondary);
		z-index: 11;
		display: flex;
		flex-direction: column;
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			overflow-y: auto;
			padding: 20px;
			flex-grow: 1;
		}
		&__item {
			color: var(--c-bg-secondary);
			border-radius: 5px;
			margin: 5px;
			flex-basis: calc(20% - 10px);
			@media screen and (max-width: 900px) {
				flex-basis: calc(50% - 10px);
			}
			@media screen and (max-width: 599px) {
				flex-basis: calc(100% - 10px);
			}
		}
		&__span {	
			display: block;
			color: #9f9f9f;
			font-weight: bold;
			margin-bottom: 5px;
		}
		&__input {
			width: 100%;
			padding: 10px;
			color:  #334d6e;
			border: 1px solid #9f9f9f;
			border-radius: 10px;
			&::placeholder {
				text-transform: capitalize;
			}
		}
		&__action {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-wrap: wrap;
			padding: 20px;
			background-color: #e0e0e0;
			button  {
				cursor: pointer;
				margin-right: 20px;
				padding: 10px 20px;
				border: 0;
				outline: 0;
				border-radius: 10px;
				color: var(--c-bg-secondary);
				&._cancel {
					background-color: #9f9f9f;
				}
				&._create {
					background-color: #53a1d6;
				}
				&:disabled {
					background-color: #9f9f9f;
				}
				&:last-child 	 {
					margin-right: 0;
				}
			}
		}
	}

	@media all and (max-width: 991px) {
		width: 90%;
	}
}